* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* main logo / nav */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: orange 1px solid;
}

header li, header a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
}

header a:hover {
  color: orange;
  font-weight: bold;
}

/* hero banner */

#hero-banner div {
  background-image: url(../images/02-hero-bg.jpg);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: orange 1px solid;
}

#hero-banner h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-text-stroke: black 1px;
  font-size: 72px;
  background-color: transparent;
}

.page-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* about me */

#about p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}
/* portfolio container */

#work ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  list-style: none;
}

#work li {
  padding: 5px;
}

#work img {
  transition: 0.3s;
  border: 1px solid orange;
}

#work img:hover {
  opacity: 0.3;
}

#work img {
    max-width: 100%;
    min-width: 300px;
    height: auto;
}


/* contact */

.page-section-contact h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-section-contact ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  list-style: none;
}

.page-section-contact li {
  padding: 5px;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border-top: orange 1px solid;
}

footer h2 {
  font-weight: lighter;
}

/* media queries */

@media screen and (max-width: 768px) {
  ul {
    flex-wrap: wrap;
  }
  li, a {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  ul {
    flex-wrap: wrap;
  }
  li, a {
    display: flex;
  }
}